.bg-linear{
    background-image: linear-gradient(to right, #b32d2c, #1a64bb);
}
.text-18{
    font-size: 18px;
}
.bg-transparent {
    background-color: transparent !important;
}
.text-14{
    font-size: 14px;
}

.icons{
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

